.result {
  padding: 1rem 2rem;
  text-transform: capitalize;
  color: rgba(41, 41, 41, 0.829);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.9rem;
}
h5 {
  font-size: 1.7rem;
}
h6 {
  font-size: 1.5rem;
}

code {
  font-size: 1.3rem;
  background-color: rgba(199, 198, 198, 0.164);
  text-transform: none;
}

ul,
ol {
  font-size: 1.4rem;
  padding: 1rem 2.2rem;
}

p {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
code {
  padding: 2px 0;
}
